# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/core/build/
/core/build/classes/java/main/
/github-com/build/
/github-com/build/classes/java/main/
/github-com/build/classes/java/test/